body {
    background-color: aqua;
}
#title{
    color:purple;
}
.hour {
    color: blue;
}
p{
    font-size: 36px;
    text-align: center;
}
.hourTitle{
    font-weight: bold;
}

let speed = 50;
if (speed < 30) {
    console.log("no ticket")
}
else if (speed <=40){
  console.log("50 dollar fine)
     
}
